body{
  
}
header{
    background: #6B3CC9;
}
  

.footer {
  background-color: #6B3CC9;
}

.image-container {
  position: relative; 
  width: 100%; 
}

.box {
  position: absolute; 
  top: 70%; 
  left: 30%; 
  transform: translate(-50%, -50%); 
  width: 50%; 
  height: 50%; 
  background-image: linear-gradient(to right, #1CBDDD 0%, #4DCA79 100%);
}
.text-container h1 {
  
  width:100%;
  padding: 30px;
  font-size: 3vw; 
}



